<template>
  <a class="article"
     v-bind:id="'article_' + index"
     v-bind:class="{
      'article--footer-reversed': footerReversed,
      'article--side-panel-reversed':sidePanelReversed,
      'article--side-panel-has-overlay':sidePanelHasOverlay,
      'article--description-without-bg':descriptionWithoutBg,
    }"
     :href="`https://www.postimees.ee/${article.id}`">
    <img class="article__img hidden-sm" :src="article.img" alt="article image">
    <div class="article__inner">
      <div class="article__gradient"></div>
      <img class="article__img hidden-lg" :src="article.imgSm" alt="article image">
      <div class="article__text-block">
        <h2 class="article__title">{{ article.title }}</h2>
        <div class="article__description" v-html="article.description"></div>
      </div>
      <div class="article__side-panel">
        <div class="article__side-panel-content"></div>
        <div class="article__index-container">
          <div class="article__index-inner">{{index}}</div>
        </div>
      </div>
    </div>
  </a>
</template>

<script>
export default {
  name: 'AppArticle',
  props: {
    article: Object,
    index: Number,
    footerReversed: {
      type: Boolean,
      default: false,
    },
    sidePanelReversed: {
      type: Boolean,
      default: false
    },
    sidePanelHasOverlay: {
      type: Boolean,
      default: false
    },
    descriptionWithoutBg: {
      type: Boolean,
      default: false
    }
  },
}
</script>
<style scoped>
.article {
  display: flex;
  position: relative;
}
  .article__inner {
    align-items: flex-end;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .article__img {
    width: 100%;
  }
  .article__gradient {
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0.18));
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .article__title {
    padding: 0 22.5rem 14.2rem 13rem;
    z-index: 2;
  }
  .article__text-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }
  .article__description {
    align-items: center;
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    display: flex;
    font-size: 4rem;
    height: 34.6rem;
    line-height: 1.2;
    padding: 0 22.5rem 0 13rem;
    z-index: 2;
  }
  .article__side-panel {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65rem;
    z-index: 2;
  }
  .article__side-panel-content {
    flex: 1;
    width: 100%;
  }
  .article__index-container {
    align-items: center;
    background-color: var(--color-blue);
    display: flex;
    height: 34.6rem;
    justify-content: center;
    width: 100%;
  }
  .article__index-inner {
    align-items: center;
    border: 2px solid var(--color-light-gray);
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    font-size: 4.8rem;
    font-weight: bold;
    height: 19rem;
    justify-content: center;
    width: 19rem;
  }
  .article.article--footer-reversed .article__inner {
    flex-direction: row-reverse;
  }
  .article.article--footer-reversed .article__title {
    padding: 0 13rem 14.2rem 22.5rem;
  }
  .article.article--footer-reversed .article__description {
    padding: 0 13rem 0 22.5rem;
  }
  .article.article--side-panel-reversed .article__side-panel {
    flex-direction: column-reverse;
  }
  .article.article--side-panel-has-overlay .article__side-panel-content {
    background-color: var(--color-blue);
    opacity: 0.5;
  }
  .article.article--description-without-bg .article__description {
    height: unset;
    padding: 6.4rem 22.5rem 18rem 13rem;
  }
  .article.article--side-panel-reversed.article--description-without-bg .article__description {
    padding: 6.4rem 13rem 18rem 22.5rem;
  }
  .article.article--description-without-bg .article__title,
  .article.article--footer-reversed.article--description-without-bg .article__title {
    padding-bottom: 0;
  }

  @media (max-width: 1920px) {
    .article__title {
      padding: 0 11.5rem 7rem 6.5rem;
    }
    .article__description {
      height: 18.2rem;
    }
    .article__description {
      font-size: 3.2rem;
      padding: 0 11.5rem 0 6.5rem;
    }
    .article__side-panel {
      width: 32.5rem;
    }
    .article__index-container {
      height: 18.2rem;
    }
    .article__index-inner {
      font-size: 2.4rem;
      height: 9.5rem;
      width: 9.5rem;
    }
    .article.article--footer-reversed .article__title {
      padding: 0 6.5rem 7rem 11.5rem;
    }
    .article.article--footer-reversed .article__description {
      padding: 0 6.5rem 0 11.5rem;
    }
    .article.article--description-without-bg .article__description,
    .article.article--side-panel-reversed.article--description-without-bg .article__description {
      height: unset;
      padding: 6.4rem 11.5rem 18rem 6.5rem;
    }
    .article.article--side-panel-reversed.article--description-without-bg .article__description {
      padding: 6.4rem 6.5rem 18rem 11.5rem;
    }
  }
  @media (max-width: 1440px) {
    .article__index-container,
    .article__description {
      height: 14.6rem;
    }
    .article__title {
      padding: 0 6.4rem 4.8rem 3.2rem;
    }
    .article.article--footer-reversed .article__title {
      padding: 0 3.2rem 4.8rem 6.4rem;
    }
    .article .article__description {
      font-size: 2rem;
      padding: 0 6.4rem 0 3.2rem;
    }
    .article.article--footer-reversed .article__description {
      padding: 0 3.2rem 0 6.4rem;
    }
    .article.article--description-without-bg .article__description {
      padding: 3.2rem 6.4rem 9rem 3.2rem;
    }
    .article.article--side-panel-reversed.article--description-without-bg .article__description {
      padding: 3.2rem 3.2rem 9rem 6.4rem;
    }
    .article.article--description-without-bg .article__title,
    .article.article--footer-reversed.article--description-without-bg .article__title {
      padding-bottom: 0;
    }
  }

  @media (min-width: 1024px) {
    .hidden-lg {
      display: none;
    }
    .article.article--description-without-bg .article__description {
      background: none;
    }
  }

  @media (max-width: 1023px) {
  .hidden-sm {
    display: none;
  }
  .article__inner,
  .article.article--footer-reversed .article__inner {
    flex-direction: column;
    position: static;
  }

  .article__text-block {
    bottom: 0;
    height: unset;
    position: absolute;
    width: 100%;
  }
  .article__title,
  .article.article--footer-reversed .article__title,
  .article.article--description-without-bg .article__title,
  .article.article--footer-reversed.article--description-without-bg .article__title {
    padding: 3.2rem 2.4rem;
  }
  .article .article__description,
  .article.article--footer-reversed .article__description,
  .article.article--description-without-bg .article__description,
  .article.article--side-panel-reversed.article--description-without-bg .article__description {
    font-size: 2.4rem;
    height: unset;
    padding: 3.2rem 2.4rem;
  }
  .article__side-panel {
    align-items: flex-start;
    flex-direction: column-reverse;
    left: 0;
    position: absolute;
  }
  .article__index-container {
    height: 18rem;
    width: 18rem;
  }
  .article__side-panel-content,
  .article.article--side-panel-has-overlay .article__side-panel-content {
    background-color: unset;
    width: 0;
  }
}

@media (max-width: 425px) {
  .article__index-container {
    height: 8.8rem;
    width: 8.8rem;
  }
  .article__index-inner {
    font-size: 2.4rem;
    height: 6.4rem;
    width: 6.4rem;
  }
  .article__side-panel {
    width: 8.8rem;
  }
  .article .article__description,
  .article.article--footer-reversed .article__description,
  .article.article--description-without-bg .article__description,
  .article.article--side-panel-reversed.article--description-without-bg .article__description {
    font-size: 1.6rem;
    height: unset;
    padding: 2.4rem 2rem;
  }
}
</style>
