<template>
  <div>
    <div class="hero">
      <div class="hero__gradient"></div>
      <img class="hero__bg-img" src="~/assets/img/hero-bg.png" alt="hero-img">
      <h1 class="hero__title">
        Aliquam at congue nulla, nunc scelerisque feugiat nibh vel suscipit
      </h1>
      <a href="#article_1" class="hero__cta">
        <img src="~/assets/img/nooleke_2.png" alt="arrow down icon">
      </a>
    </div>
    <div class="article" v-for="(article, index) of articles">
      <AppArticle
        :article="article"
        :index="index + 1"
        :footer-reversed="index === 1 || index === 3"
        :side-panel-has-overlay="index === 1 || index === 3"
        :description-without-bg="index === 3"
        :side-panel-reversed="index === 3"/>
    </div>
  </div>
</template>

<script>
import AppArticle from '~/components/AppArticle';
export default {
  name: 'AppMain',
  components: {AppArticle},
  computed: {
    articles() {
      return this.$store.getters['articles/articles'];
    }
  }
}
</script>
<style scoped>
.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.hero img {
  width: 100%;
}
.hero__bg-img {

}
.hero__title {
  max-width: 144rem;
  position: absolute;
  text-align: center;
}
.hero__cta {
  bottom: 14rem;
  height: 10.6rem;
  position: absolute;
  width: 10.6rem;
}
  .hero__gradient {
    background: linear-gradient(to top, #000, #000 100%,
    #000 64%, rgba(0, 0, 0, 0.91) 58%,
    rgba(0, 174, 239, 0.23) 4%,
    rgba(0, 174, 239, 0.18));
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }
@media (max-width: 1920px) {
  .hero__title {
    max-width: 120rem;
  }
}
@media (max-width: 1440px) {
  .hero__cta {
    bottom: 6.4rem;
  }
}
@media (max-width: 1023px) {
  .hero {
    background: url("../assets/img/hero-bg.png"), top left no-repeat;
    height: 100vh;
  }
  .hero__title {
    margin-bottom: 10rem;
    padding: 0 2rem;
    text-align: left;
  }
  .hero__bg-img {
    display: none;
  }
  .hero__cta {
    bottom: 3.2rem;
  }
}
</style>
