<template>
  <div class="header">
    <div class="header--left-block">
      <div class="header__burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a class="header__logo"  href="https://www.postimees.ee">
        <img src="../assets/img/logo.png" alt="postimees logo">
      </a>
    </div>
    <div class="header--center-block">Aliquam at congue nulla, nunc scelerisque feugiat nibh vel suscipit</div>
    <div class="header--right-block">
      <div class="header__socials">
        <div class="header__socials-item">
          <img src="../assets/img/Facebook.png" alt="facebook logo">
        </div>
        <div class="header__socials-item">
          <img src="../assets/img/Twitter.png" alt="twitter logo">
        </div>
        <div class="header__socials-item">
          <img src="../assets/img/Email.png" alt="email icon">
        </div>
        <div class="header__comments">
          <img class="header__comments-icon" src="../assets/img/jutumull.png" alt="comment icon">
          <div class="header__comments-amount">88</div>
        </div>
      </div>
      <img class="hidden-lg" src="~/assets/img/share.png" alt="share icon">
      <div class="header__login">
          <span class="hidden-sm">Logi sisse</span>
        <img class="hidden-lg" src="~/assets/img/avatar.png" alt="user icon">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppHeader'
}
</script>

<style scoped>
  .header {
    align-items: center;
    background-color: var(--color-blue);
    display: flex;
    height: 8.4rem;
  }
  .header--left-block,
  .header--right-block {
    align-items: center;
    display: flex;
    flex: 3;
    height: 100%;
  }
  .header--center-block {
    align-items: center;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    flex: 6;
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .header__burger-menu {
    align-items: center;
    background-color: var(--color-light-blue);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 9.2rem;
  }
  .header__logo {
    height: 3.2rem;
    margin-left: 2.8rem;
  }
  .header__socials {
    display: flex;
  }
  .header__comments {
    align-items: center;
    display: flex;
    height: 4rem;
  }
  .header__comments-icon {
    align-self: flex-end;
    margin-left: 1.6rem;
  }
  .header__comments-amount {
    color: var(--color-white);
    font-size: 1.8rem;
    margin-left: 0.4rem;
    line-height: 1.2;
  }
  .header__socials-item {
    height: 100%;
    margin-right: 1.6rem;
    width: 4rem;
  }
  .header__login {
    align-items: center;
    border-left: 2px solid var(--color-white);
    color: var(--color-white);
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    margin-left: 3.2rem;
    min-width: 20rem;
    padding: 0 4rem;
    text-transform: uppercase;
    width: 100%;
  }
  .header__burger-menu span {
    background-color: var(--color-white);
    height: 0.6rem;
    width: 4rem;
  }
  .header__burger-menu span:not(:last-of-type) {
    margin-bottom: 0.8rem;
  }

  @media (max-width: 1280px) {
    .header--center-block {
      display: none;
    }
    .header--right-block {
      flex: 2;
    }
  }
  @media (max-width: 768px) {
    .header {
      height: 6.4rem;
      padding-right: 2rem;
    }
    .header__burger-menu {
      width: 6.4rem;
    }
    .header--left-block {
      flex: 0;
    }
    .header--right-block {
      flex: 1;
      justify-content: flex-end;
    }
    .header__logo {
      height: 2rem;
      margin-left: 1.6rem;
      width: 12rem;
    }
    .header__socials {
      display: none;
    }
    .header__login {
      border: none;
      justify-content: flex-end;
      min-width: 0;
      padding: 0;
      width: unset;
    }
  }
</style>
