
:root {
  --color-blue: #1ba6e2;
  --color-light-blue: #21b2ef;
  --color-dark-gray: #181818;
  --color-white: #ffffff;
  --color-light-gray: rgba(255, 255, 255, 0.5);

  /*Media queries*/

  --screen-xl: 1920px;
  --screen-lg: 1440px;
  --screen-md: 1024px;
  --screen-sm: 768px;
  --screen-xs: 425px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

ul[class],
ol[class] {
  list-style: none;
}

a:link, a:visited, a:hover, a:active
{text-decoration:none;}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  color: var(--color-white);
  font-size: 11.3rem;
  font-weight: bold;
  line-height: 1.1;
}
h2 {
  color: var(--color-white);
  font-size: 10rem;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 1920px) {
  h1 {
    font-size: 8rem;
  }
  h2  {
    font-size: 7.2rem;
  }
}
@media (min-width: 1024px) {
  .hidden-lg {
    display: none;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 6rem;
  }
  h2  {
    font-size: 4rem;
  }
}

@media (max-width: 1023px) {
  .hidden-sm {
    display: none;
  }
  h1 {
    font-size: 6.4rem;
  }
  h2  {
    font-size: 4rem;
  }
}

@media (max-width: 425px) {
  h2  {
    font-size: 2.4rem;
  }
}
