<template>
  <div>
    <main-component/>
  </div>
</template>

<script>
import MainComponent from "~/components/AppMain";
import '../assets/css/main.css';
export default {
  layout: 'default',
  components: {MainComponent: MainComponent},
  async fetch({store}) {
    await store.dispatch('articles/fetch');
  }
}
</script>
